Repository hkevin01/seismic-classifier, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seismic-classifier/maintainers, @seismic-classifier/core-team, @seismic-classifier/data-team, @seismic-classifier/ml-team, @seismic-classifier/signal-processing-team, @seismic-classifier/frontend-team, @seismic-classifier/devops-team, @seismic-classifier/docs-team, @seismic-classifier/research-team

feat: Add GitHub Copilot custom prompts for seismic event classification
  .copilot/config.json
  .copilot/prompts.md
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  data/cache/.gitkeep
  data/models/.gitkeep
  data/processed/.gitkeep
  data/raw/.gitkeep
  data/results/.gitkeep
  docs/WORKFLOW.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  setup.py
  src/seismic_classifier/__init__.py
  src/seismic_classifier/config/settings.py
  src/seismic_classifier/utils/logger.py
Owners: @seismic-classifier/maintainers, @seismic-classifier/docs-team, @seismic-classifier/devops-team, @seismic-classifier/core-team

feat: Enhance setup process with automated scripts and detailed instructions for virtual environment management
  Makefile
  README.md
  docs/VIRTUAL_ENVIRONMENT.md
  scripts/activate_venv.sh
  scripts/make_executable.sh
  scripts/setup_venv.sh
Owners: @seismic-classifier/maintainers, @seismic-classifier/docs-team, @seismic-classifier/core-team

feat: Implement comprehensive virtual environment setup and verification scripts
  Makefile
  VIRTUAL_ENV_SETUP.md
  scripts/activate_venv.sh
  scripts/setup_venv.sh
  scripts/verify_setup.sh
  src/seismic_classifier/config/settings.py
Owners: @seismic-classifier/maintainers, @seismic-classifier/docs-team, @seismic-classifier/core-team

feat: Add comprehensive project status and accomplishments documentation
  ACCOMPLISHMENTS.md
  README.md
  STATUS.md
Owners: @seismic-classifier/docs-team

Implement IRIS and USGS API clients with comprehensive data validation and quality control
  src/seismic_classifier/data_pipeline/__init__.py
  src/seismic_classifier/data_pipeline/database.py
  src/seismic_classifier/data_pipeline/error_handling.py
  src/seismic_classifier/data_pipeline/iris_client.py
  src/seismic_classifier/data_pipeline/usgs_client.py
  src/seismic_classifier/data_pipeline/validators.py
Owners: @seismic-classifier/core-team

Add signal processing and machine learning modules for seismic event classification
  notebooks/seismic_classifier_demo.ipynb
  src/seismic_classifier/feature_engineering/__init__.py
  src/seismic_classifier/feature_engineering/feature_extraction.py
  src/seismic_classifier/feature_engineering/signal_processing.py
  src/seismic_classifier/ml_models/__init__.py
  src/seismic_classifier/ml_models/classification.py
Owners: @seismic-classifier/research-team, @seismic-classifier/core-team

Refactor ML models and improve code readability
  STATUS_COMPLETE.md
  notebooks/seismic_classifier_demo.ipynb
  src/seismic_classifier/data_pipeline/__init__.py
  src/seismic_classifier/data_pipeline/database.py
  src/seismic_classifier/data_pipeline/error_handling.py
  src/seismic_classifier/data_pipeline/iris_client.py
  src/seismic_classifier/data_pipeline/usgs_client.py
  src/seismic_classifier/data_pipeline/validators.py
  src/seismic_classifier/feature_engineering/__init__.py
  src/seismic_classifier/feature_engineering/feature_extraction.py
  src/seismic_classifier/feature_engineering/signal_processing.py
  src/seismic_classifier/ml_models/__init__.py
  src/seismic_classifier/ml_models/classification.py
Owners: @seismic-classifier/docs-team, @seismic-classifier/research-team, @seismic-classifier/core-team

docs: Update README to reflect completion of Phases 1-3 and enhance usage examples
  README.md
Owners: @seismic-classifier/docs-team

Enhance README.md with detailed project status, feature completion, and installation instructions
  README_NEW.md
  README_OLD.md
Owners: @seismic-classifier/docs-team

feat: add Dashboard and Monitoring pages with real-time seismic event monitoring
  README.md
  gui-app/README.md
  gui-app/index.html
  gui-app/launch.sh
  gui-app/package.json
  gui-app/postcss.config.js
  gui-app/setup.sh
  gui-app/src/App.tsx
  gui-app/src/components/charts/SeismicCharts.tsx
  gui-app/src/components/layout/Header.tsx
  gui-app/src/components/layout/Sidebar.tsx
  gui-app/src/components/modals/FileUploadModal.tsx
  gui-app/src/components/modals/NotificationsModal.tsx
  gui-app/src/components/modals/SettingsModal.tsx
  gui-app/src/components/modals/UserMenuModal.tsx
  gui-app/src/components/ui/Button.tsx
  gui-app/src/components/ui/Card.tsx
  gui-app/src/components/ui/Input.tsx
  gui-app/src/components/ui/Modal.tsx
  gui-app/src/index.css
  gui-app/src/main.tsx
  gui-app/src/pages/Analysis.tsx
  gui-app/src/pages/Dashboard.tsx
  gui-app/src/pages/Monitoring.tsx
  gui-app/src/store/appStore.ts
  gui-app/start.sh
  gui-app/tailwind.config.js
  gui-app/tsconfig.json
  gui-app/tsconfig.node.json
  gui-app/vite.config.ts
Owners: @seismic-classifier/docs-team, @seismic-classifier/maintainers

feat: enhance README.md to include GUI dashboard details and update project status
  README.md
Owners: @seismic-classifier/docs-team

Add advanced analytics module for seismic event detection and analysis
  README.md
  notebooks/advanced_analytics_demo.ipynb
  requirements.txt
  src/seismic_classifier/advanced_analytics/README.md
  src/seismic_classifier/advanced_analytics/__init__.py
  src/seismic_classifier/advanced_analytics/confidence_analysis.py
  src/seismic_classifier/advanced_analytics/event_detection.py
  src/seismic_classifier/advanced_analytics/location_determination.py
  src/seismic_classifier/advanced_analytics/magnitude_estimation.py
  src/seismic_classifier/advanced_analytics/parallel.py
  tests/requirements.txt
  tests/test_advanced_analytics.py
  tests/test_parallel.py
Owners: @seismic-classifier/docs-team, @seismic-classifier/research-team, @seismic-classifier/core-team, @seismic-classifier/devops-team, @seismic-classifier/maintainers

feat: implement cloud deployment setup with AWS, including ECS, ECR, and monitoring with Prometheus and Grafana
  DEPLOYMENT.md
  Dockerfile
  README.md
  docker-compose.yml
  dockerignore
  infrastructure/aws/main.tf
  infrastructure/aws/variables.tf
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus/prometheus.yml
  requirements.txt
  src/seismic_classifier/api/main.py
  src/seismic_classifier/api/models.py
Owners: @seismic-classifier/docs-team, @seismic-classifier/maintainers, @seismic-classifier/devops-team, @seismic-classifier/core-team

Implement code changes to enhance functionality and improve performance
  notebooks/complete_system_demo.ipynb
Owners: @seismic-classifier/research-team, @seismic-classifier/core-team

feat: add WebSocket service for real-time seismic data streaming with reconnection logic and buffered message handling
  docs/IMPLEMENTATION_PROGRESS.md
  gui-app/src/services/websocketService.ts
  notebooks/implementation_status.ipynb
Owners: @seismic-classifier/docs-team, @seismic-classifier/maintainers, @seismic-classifier/research-team, @seismic-classifier/core-team

feat: Implement comprehensive Docker development environment
  .devcontainer/devcontainer.json
  .github/workflows/docker-dev-ci.yml
  Makefile
  docker-compose.dev.yml
  docker/dev-backend.Dockerfile
  docker/dev-frontend.Dockerfile
  docker/dev-tools.Dockerfile
  docker/scripts/dev-entrypoint.sh
  docker/scripts/frontend-entrypoint.sh
  docker/scripts/tools-entrypoint.sh
  docs/DOCKER_DEVELOPMENT.md
  docs/DOCKER_DEVELOPMENT_COMPLETE.md
  docs/IMPLEMENTATION_PROGRESS.md
Owners: @seismic-classifier/maintainers, @seismic-classifier/devops-team, @seismic-classifier/docs-team

feat: Add FastAPI server and Docker configuration for seismic classifier API
  .env.example
  Makefile
  docker-compose.yml
  src/seismic_classifier/api/server.py
  tests/test_api_smoke.py
Owners: @seismic-classifier/maintainers, @seismic-classifier/core-team

feat: Add Docker support for API with health check and update README for usage instructions
  .github/workflows/ci.yml
  Dockerfile
  README.md
Owners: @seismic-classifier/devops-team, @seismic-classifier/maintainers, @seismic-classifier/docs-team

feat: Add stubs for signal processing, classification, detection, and magnitude estimation in test API
  tests/test_api_extended.py
Owners: @seismic-classifier/core-team

feat: Enhance Makefile and README for improved cleanup commands and API documentation
  Makefile
  README.md
Owners: @seismic-classifier/maintainers, @seismic-classifier/docs-team

.github/CODEOWNERS:

# CODEOWNERS file for seismic-classifier
# This file defines individuals or teams that are responsible for code in the repository.

# Global owners - responsible for everything unless a later match takes precedence
* @seismic-classifier/maintainers

# Core source code
/src/ @seismic-classifier/core-team

# Data pipeline components
/src/data_pipeline/ @seismic-classifier/data-team @seismic-classifier/core-team

# Machine learning models
/src/models/ @seismic-classifier/ml-team @seismic-classifier/core-team

# Feature engineering
/src/feature_engineering/ @seismic-classifier/signal-processing-team @seismic-classifier/core-team

# Visualization and dashboard
/src/visualization/ @seismic-classifier/frontend-team @seismic-classifier/core-team
/dashboard/ @seismic-classifier/frontend-team @seismic-classifier/core-team

# Configuration files
/config/ @seismic-classifier/devops-team @seismic-classifier/maintainers

# Tests
/tests/ @seismic-classifier/core-team

# Documentation
/docs/ @seismic-classifier/docs-team @seismic-classifier/maintainers
*.md @seismic-classifier/docs-team

# GitHub workflows and configurations
/.github/ @seismic-classifier/devops-team @seismic-classifier/maintainers

# Python packaging and dependencies
requirements.txt @seismic-classifier/devops-team @seismic-classifier/maintainers
setup.py @seismic-classifier/devops-team @seismic-classifier/maintainers
pyproject.toml @seismic-classifier/devops-team @seismic-classifier/maintainers

# Jupyter notebooks
/notebooks/ @seismic-classifier/research-team @seismic-classifier/core-team

# Scripts
/scripts/ @seismic-classifier/core-team

# VS Code configuration
/.vscode/ @seismic-classifier/devops-team
